.operation-explanation__button-wrapper {
    margin-bottom: 20px;
}

.operation-explanation__explanation {
    background: #2a9d8f;
    border-radius: 8px;
    padding: 40px;
    margin-bottom: 20px;
}

.operation-explanation__explanation p {
    color: white !important;
}

.operation-explanation__explanation code,
.operation-explanation__explanation pre {
    color: #e9c46a !important;
    font-size: 1.1em;
}

.operation-explanation__explanation .table {
    margin: -0.3rem !important;
}

.operation-explanation__section {
    margin-bottom: 30px;
}

.operation-explanation__section-title {
    color: #e9c46a !important;
}

.operation-explanation__output {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 6px;
}

.explanation-explanantion__list-item {
    margin-bottom: 30px;
}
