.todo-list-item {
    position: relative;
    margin: 0 0 5px 0;
    padding: 5px 3px 3px 10px;
    border-radius: 5px;
}

.todo-list-item__done-status {
    position: absolute;
    left: 12px;
    top: 12px;
}

.todo-list-item__value {
    margin-left: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.todo-list-item--cancelled .todo-list-item__value {
    text-decoration: line-through;
}

.todo-list-item--done .todo-list-item__value {
    color: #bbb;
}

.todo-list-item--is-being-edited {
    background: rgba(231, 111, 81, 0.3);
}

.todo-list-item__value--removed {
    text-decoration: line-through;
}

.todo-list-item__value__heading {
    font-weight: bold;
    text-transform: uppercase;
}

.todo-list-item__value__tag {
    color: #999;
    font-size: 0.9em;
}

.todo-list-item__value__link {
    color: #333;
    text-decoration: underline;
}

.todo-list-item__value__project {
    font-weight: bold;
    text-transform: uppercase;
}

.todo-list-item__value__project:after {
    content: ' → ';
}
