.todo-list-item {
    position: relative;
    margin: 0 0 5px 0;
}

.todo-list-item__done-status {
    position: absolute;
    left: 0;
    top: 5px;
}

.todo-list-item__value {
    margin-left: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.todo-list-item--cancelled .todo-list-item__value {
    text-decoration: line-through;
}

.todo-list-item--done .todo-list-item__value {
    color: #bbb;
}

.todo-list-item__value--removed {
    text-decoration: line-through;
}

.todo-list-item__value--heading {
    font-weight: bold;
    text-transform: uppercase;
}

.todo-list-item__value--tag {
    color: #999;
    font-size: 0.9em;
}
