.checkbox__original {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__replacement {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 14px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.checkbox__replacement:after {
    content: '×';
    font-size: 30px;
    /* content: '\2713\0020'; */
    position: absolute;
    display: none;
    text-align: center;
    top: -17px;
    left: -2px;
}

.checkbox__replacement:hover {
    background-color: #ccc;
    border-color: #999;
}

.checkbox__container:checked .checkbox__replacement {
    background-color: #2196f3;
}

.checkbox__original:checked ~ .checkbox__replacement:after {
    display: block;
}

.checkbox__container checkbox__original:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
