/* colors: https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */

html,
body,
#root {
    height: 100%;
}

.app {
    background: #e9c46a;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
